@mixin text-pr {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    box-sizing: border-box;
}

header{
    height: 100px;
    background: #87F78C;
    @include text-pr;
    font-size: 3em;
    padding-left: 20px;
    line-height: 100px;
}

nav{
    height: 70px;
    background: #57CF5D;
    @include text-pr;
    font-size: 3em;
    padding-left: 20px;
    line-height: 70px;
}

main{
        #sidebar{
            height: 800px;
            width: 20%;
            background: #3790F5;
            float: left;
                p{
                    font-size: 3em;
                    padding-left: 20px;
                    @include text-pr;
                }
                a{
                    display: block;
                    font-size: 1.5em;
                    padding-left: 30px;
                    @include text-pr;
                    &:first-child{
                        margin-top: 200px;
                    }
                }
        }
        #content{
            height: 800px;
            width: 60%;
            background: #7EB3F0;
            float: left;
            box-sizing: border-box;
            @include text-pr;
                .content_heading{
                    padding-left: 100px;
                    font-size: 3em;
                }
                .info{
                    margin-top: 100px;
                    h6{
                        padding-left: 100px;
                        font-size: 1.5em;
                        text-decoration: underline;
                        margin: 0;
                    }
                    p{
                        padding-left: 100px;
                        font-size: 1em; 
                        margin-top: 10px;
                    }
            }

        }
        aside{
            box-sizing: border-box;
            width: 20%;
            height: 800px;
            background: #3790F5;
            float: right;
            @include text-pr;
            font-size: 3em;
            padding-left: 20px;
            line-height: 150px;
                ul{
                    list-style: none;
                    font-size: .5em;
                    margin: 0;
                        li{
                            a{
                                display: block;
                                @include text-pr;
                                height: 30px;
                            }
                        }      
                }
        }
}

footer{
    height: 100px;
    background: #87F78C;
    clear: both;
    @include text-pr;
    font-size: 3em;
    padding-left: 20px;
    line-height: 100px;
}